.header-ul {
    gap: 30px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #9e9aa8;
}

.logo {
    color: #34313d;
}
.nav-left {
    gap: 45px;
    align-items: center;
}
.btn-gray {
    color: #9e9aa8;
}
.btn-info {
    background-color: #2bd0d0;
    color: #ffffff;
    border-radius: 28px;
    padding: 10px 24px;
}
h2{
    font-weight: 700;
}
p{
    color:#9e9aa8 ;
    font-weight: 500;
}